.post, .newPost {
    background: black;
    margin: 1rem;
    padding: .5rem;
    width: 15rem;
    min-height: 10rem;
}
.newPost {
    background: darkslategray;
    position: relative;
    z-index: 100;
}