.appWrap {
    padding: 0 10%;
}

.newPostButton {
    margin: 5rem;
    padding: 1rem 3rem;
    font-size: 2rem;
    background-color: darkslategray;
    color: white;
}
.newPostButton:hover {
    cursor: pointer;
}